<div
  class="bg-[url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/1ff4b7100999053.603f5151216f6.gif)] h-full bg-center bg-cover"
>
  <div
    class="max-w-[600px] mx-auto p-4 h-[100vh] flex flex-col items-center justify-center my-auto"
  >
    <div class="text-center">
      <h1 class="text-2xl font-bold py-2">Sign up for a free account</h1>
      <p class="py-2">
        Already have an account?
        <a class="underline" routerLink="/login"> Login. </a>
      </p>
    </div>

    <div *ngIf="error" class="text-red-600 p-2 rounded-md m-2 bg-red-300">
      {{ error }}
    </div>

    <form [formGroup]="signupForm" (ngSubmit)="signup()" class="w-full">
      <div class="flex flex-col py-2">
        <label class="py-2 font-medium">Email Address</label>
        <input
          class="border outline-none p-3 rounded-md"
          type="email"
          placeholder="Email address"
          formControlName="email"
        />
        <span
          *ngIf="
            signupForm.get('email')?.invalid && signupForm.get('email')?.touched
          "
          class="text-red-400"
          >Please enter a valid email address</span
        >
      </div>
      <div class="flex flex-col py-2">
        <label class="py-2 font-medium">Password</label>
        <input
          class="border p-3 outline-none rounded-md"
          type="password"
          placeholder="Password"
          formControlName="password"
        />
        <span
          *ngIf="
        signupForm.get('password')?.errors?.['required'] && signupForm.get('password')?.touched
      "
          class="text-red-400"
          >Password is required</span
        >
      </div>
      <button
        type="submit"
        class="border border-blue-500 bg-blue-600 hover:bg-blue-500 w-full p-4 my-6 text-white"
      >
        Login
      </button>
    </form>
  </div>
</div>
