/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@layer components {
  /* custom class for the div that wraps the table of flights */
  .tableWrap {
    @apply h-[max-content] max-h-[70vh] overflow-y-scroll box-border rounded-md w-[98%] max-w-7xl mb-3;
  }
  .tableWrap::-webkit-scrollbar {
    @apply hidden;
  }
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
