<div
  class="bg-[url('https://thepointsguy.global.ssl.fastly.net/us/originals/2017/09/FlightAware-JetBlue-flights.png')] h-full bg-center bg-cover"
>
  <div class="flex flex-col justify-start items-center h-full mx-auto">
    <span class="text-white bg-slate-300/50 px-1 rounded-md font-semibold m-1">
      Welcome, <span class="text-red-600">{{ userEmail }}</span>
    </span>
    <div class="w-[98%] max-w-2xl bg-gray-500/50 rounded-md px-4 m-1">
      <h3 class="text-white text-center p-2 pb-0">
        Select a time range, maximum of one hour
      </h3>
      <div class="flex justify-center mx-auto gap-5">
        <div class="flex flex-col">
          <p class="text-white">
            Start time:
            <span class="text-yellow-200">{{ fromDateTimeString }}</span>
          </p>
          <mat-form-field>
            <input
              [formControl]="fromDateControl"
              matInput
              type="datetime-local"
              placeholder="start date"
            />
          </mat-form-field>
        </div>
        <strong class="text-white mt-[7%]">_</strong>
        <div class="flex flex-col">
          <p class="text-white">
            End time:
            <span class="text-yellow-200">{{ toDateTimeString }}</span>
          </p>
          <mat-form-field>
            <input
              [formControl]="toDateControl"
              matInput
              type="datetime-local"
              placeholder="start date"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="w-full flex justify-center items-center mx-auto m-2 mt-0">
        <button
          class="bg-blue-500 text-white border-none outline-none rounded-md p-1 px-6 cursor-pointer"
          (click)="handleDateSubmit()"
        >
          <i class="fa-solid fa-magnifying-glass mr-2 text-sm"></i>
          See Flights
        </button>
      </div>
    </div>
    <h1 class="bg-stone-800/70 rounded-md px-3 m-1 text-orange-400">
      Real-time information of all flights around the world
    </h1>
    <!-- {error && ( -->
    <span
      *ngIf="errorMessage"
      class="bg-red-200 p-1 px-2 m-2 w-[98%] max-w-3xl text-center text-sm rounded-sm text-red-500"
    >
      {{ errorMessage }}
    </span>
    <!-- )} -->
    <div class="tableWrap border-none no-scrollbar border">
      <table class="bg-stone-900/80 rounded-md p-10 w-full mx-auto">
        <thead
          class="sticky z-4 top-0 bg-stone-900 text-slate-50 border-2 border-black"
        >
          <tr class="overflow-hidden p-4">
            <th class="p-4">AIRCRAFT</th>
            <th class="p-4 border-l-2 border-gray-700">TIME</th>
            <th class="p-4 border-l-2 border-gray-700">arriving</th>
            <th class="p-4 border-l-2 border-gray-700">departing</th>
          </tr>
        </thead>
        <tbody *ngIf="loading" class="text-center text-orange-400">
          <tr class="overflow-hidden text-center p-4">
            <td class="border border-orange-200">Loading ...</td>
            <td class="border border-orange-200">Loading ...</td>
            <td class="border border-orange-200">Loading ...</td>
            <td class="border border-orange-200">Loading ...</td>
          </tr>
        </tbody>
        <tbody
          *ngIf="!loading && (!flights || flights.length == 0)"
          class="text-center text-orange-400"
        >
          <tr class="overflow-hidden p-4">
            <td class="border border-orange-200">------</td>
            <td class="border border-orange-200">------</td>
            <td class="border border-orange-200">------</td>
            <td class="border border-orange-200">------</td>
          </tr>
        </tbody>
        <tbody *ngIf="flights" class="text-center text-orange-400">
          <tr *ngFor="let currentFlight of flights" class="overflow-hidden p-4">
            <td class="border border-orange-200">
              {{ currentFlight.icao24 }}
            </td>
            <td class="border border-orange-200">
              <!-- {new Date(currentFlight.lastSeen * 1000).toString()} -->
              {{ currentFlight.lastSeen * 1000 | date : "medium" }}
            </td>
            <td class="border border-orange-200">
              {{ currentFlight.estArrivalAirport }}
            </td>
            <td class="border border-orange-200">
              {{ currentFlight.estDepartureAirport }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
